.hero {
    padding-top: $headerHeight;
    height: 100vh;
    // .hero__wrapper
    &__wrapper {
        position: relative;
        height: 100%;
        background: linear-gradient(
                to right,
                rgba(245, 245, 245, 0.8),
                rgba(245, 245, 245, 0.8)
            ),
            url("/public/images/hero-background.svg");
    }
    // .hero__container
    &__container {
        height: 100%;
    }
    // .hero__body
    &__body {
        height: 100%;
        @include flex();
    }
    // .hero__main
    &__main {
        @include flex(center, start, column);
    }
    // .hero__stacks
    &__stacks {
        position: absolute;
        left: 0;
        @media (min-width: #{$md3 + px}) {
            @include adaptiveValue("bottom", 150, 10);
            transform: translateY(50%);
        }
        @media (max-width: #{$md3 + px}) {
            border-radius: 5px 5px 5px 5px;
            @include flex();
            bottom: 0;
            @include adaptiveValue("left", 80, 20);
        }
    }
    // .hero__button
    &__button {
        width: 100%;
        @include flex();
        @include adaptiveValue("margin-top", 80, 30);
    }
}
.title {
    @include adaptiveValue("font-size", 65, 38);
    @include adaptiveValue("line-height", 69, 44);
    color: $mainColor;
    text-align: center;
    @include adaptiveValue("margin-bottom", 40, 17);
}
.subtitle {
    @include adaptiveValue("font-size", 20, 16);
    width: 85%;
    color: $secondaryColor;
    text-align: center;
}
.stack-list {
    background-color: $bodyColor;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    // .stack-list__item
    &__item {
        padding: 5px;
        padding-right: 3px;
    }
    // .stack-list__link
    &__link {
        @include flex();
        padding: 10px;
        border-radius: 5px;
        color: $secondaryColor;
        @include transition(0.2);
        @media (any-hover: hover) {
            &:hover {
                &.Telegram {
                    color: #0088cc;
                }
                &.LinkedIn {
                    color: #006192;
                }
                &.Github {
                    color: #211f1f;
                }
                &.Facebook {
                    color: #316FF6;
                }
                &.Instagram {
                    color: #E1306C;
                }
                &.Twitter {
                    color: #1DA1F2;
                }
                background: #f1f1f1;
                color: $mainColor;
            }
        }
    }
}
.waving-icon {
    animation-name: waving;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes waving {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.mouse__wrapper {
    display: none;

    @media (min-width: #{$md3 + px}) {
        display: block;
        position: absolute;
        bottom: 20px;
        cursor: pointer;
        @include flex(center, center, column);
        row-gap: 0.5rem;
    }
}
.mouse {
    @media (min-width: #{$md3 + px}) {
        width: 25px;
        height: 40px;
        border: 2px solid #333;
        border-radius: 60px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            width: 5px;
            height: 5px;
            position: absolute;
            top: 7px;
            left: calc(50% - 0.1px);
            transform: translateX(-50%);
            background-color: #333;
            border-radius: 50%;
            opacity: 1;
            animation: wheel 1.3s infinite;
            -webkit-animation: wheel 1.3s infinite;
        }
    }
}
@keyframes wheel {
    0% {
        top: 7px;
    }
    100% {
        top: 26px;
        opacity: 0;
    }
}
