.projects {
    // .projects__wrapper
    &__wrapper {
    }
    // .projects__container
    &__container {
    }
    // .projects__body
    &__body {
    }
    // .projects__main
    &__main {
    }
}
.projects-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    gap: 50px;
    margin: 3.5rem 0px 0px;
    // .projects-list__item
    &__item {
        @include flex(center, start);
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        border-radius: 17px;
    }
}
.project-item {
    width: 92%;
    height: 430px;
    @include adaptiveValue('height', 430, 280);
    flex-direction: row;
    padding: 1rem;
    @include adaptiveValue('gap', 60, 25);
    margin-inline: auto;
    @media (max-width: #{$md2 + px}) {
        flex-direction: column;
        height: auto;
        padding-bottom: 12px;
    }
    // .project-item-reversed
    &-reversed {
        flex-direction: row-reverse !important;
        @media (max-width: #{$md2 + px}) {
            flex-direction: column !important;
        }
    }
    // .project-item__left
    &__left {
        flex: 0 0 60%;
    }
    // .project-item__right
    &__right {
        flex: 0 0 35%;
        text-align: center;

        @media (max-width: #{$md2 + px}) {
            @include adaptiveValue('padding-bottom', 20, 0);
        }
    }
    // .project-item__image-wrapper
    &__image-wrapper {
        @include adaptiveValue('height', 400, 250);
        border-radius: 17px;
        background-color: #76767633;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    }
    // .project-item__image
    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    // .project-item__title
    &__title {
        color: #2d2e32;
        position: relative;
        font-size: $fontSize;
        text-transform: uppercase;
        @include adaptiveValue('margin-bottom', 20, 8);
    }
    // .project-item__description
    &__description {
        color: #767676;
        font-weight: 500;
        text-align: center;
        text-transform: none;
        @include adaptiveValue('font-size', $fontSize, 15);
    }

    // .project-item__techno
    &__techno {
    }
}
.techno-list {
    width: 100%;
    @include flex();
    column-gap: 1rem;
    @include adaptiveValue('margin-block', 16, 12);
    // .techno-list__item
    &__item {
        padding: 10px 13px;
        font-weight: 800 !important;
        font-family: $fontMulish;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
.decode-list {
    @include adaptiveValue('margin-top', 48, 15);
    @include flex();
    @include adaptiveValue('column-gap', 40, 20);
    // .decode-list__item
    &__item {
    }
    // .decode-list__link
    &__link {
        @include flex();
        column-gap: 7px;
        @include adaptiveValue('font-size', 20, 16);
    }
    // .decode-list__icon
    &__icon {
        @include adaptiveValue('font-size', 28, 24);
    }
}
