$fontPoppins: 'Poppins', sans-serif;
$fontMulish: 'Mulish', sans-serif;
$fontNoto: 'Noto sans', sans-serif;
$fontSource: 'Source Sans Pro', sans-serif;
$fontSize: 17;

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$minWidthContainer: 1220;
$md1: $minWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$headerHeight: 80px;

$mainColor: #0f0f0f;
$secondaryColor: #645f61;
$thirdyColor: #facf0f;
$blackColor: #000000;
$whiteColor: #ffffff;
$logoColor: #000000;
$bodyColor: #ffffff;
$sectionColor: #f9f9f9;
