{
    "arrowParens": "always",
    "semi": true,
    "tabWidth": 4,
    "singleQuote": false,
    "importOrder": [
        "^react(.*)",
        "^clsx(.*)",
        "^framer-motion(.*)",
        "<THIRD_PARTY_MODULES>",
        "@(.*)",
        "^[./]"
    ]
}
